*{
    padding: 0px;
    margin: 0px;
}

.header-nav{
    padding:  20px;
color: #eee;
   position: fixed;
   top:0;
   left: 0;
   right: 0;
   z-index: 10;
    background-color: white;
    transition: ease-in-out;
   
}

.nav-padding{
    color: black;
    justify-content: space-between;
    align-items: center;  
}




.header{
    color: black;
    height: 180px;
       
}
.logo{
    color: black;
    float: left;
    width:15%;
    margin-left:50px;
    font-size: 2em;

}

.ul1{
    color: black;
    margin-left: 100px;
    padding:0px;
    font-size:1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ul1 li{
    display: inline;
    margin-left:50px;
}

.navs{
    text-align: justify ;
    width: 65%;
    float: left;
   
}

.quote-button{
    width: 15%;
    
    float: left;
    
}
.quote-button button{
    float: left;
    margin-left: 100px;
    padding: 10px;
    border:#eee  1px;
    
    font-size:15px;
    color:#eee;
    font-size:1em;
    background:orangered;
}

.quote-button button:hover{
    transition: background .3s;
    -webkit-transition: background .3s;
    background-color: white;
    color:orangered;
    border:blue thin .5px;
    box-shadow: 0px 7px 29px 0px rgba(0,0,0,0.14);
}

.content{
    clear: both;
    height: 650px;
    float: left;
 
    width: 100%;
    background-repeat:no-repeat ;
    
}

.containerl{
    padding-top:170px ;
    margin-left:150px;
    float: left;
    width: 30%;
    height: 100%;
   
}

h2{

    font-weight: 300;
    line-height: 1.2;
    font-size:50px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

.para2{
    max-width: 430px;
    font-size:23px;
    color:#808081;
    letter-spacing: .025em;
    line-height: 1.47826;
    margin-top:24px;
    font-weight: 300 !important;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    
}


.btn{
    padding:18px 21px;
    font-size:16px;
    color:#414244;
    margin-top:40px;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 7px 29px 0px rgba(0,0,0,0.14);
}


.btn:hover{
    background-color: #ff755f;
}

.containerr{
    float: left;
    margin-right:150px;
    width: 50%;
    height: 100%;
    background:url(https://livedemo00.template-help.com/wt_prod-24944/images/swiper-img-1-773x632.png);


}

.slide-buttons{
    float: left;
    height: 70px;
    width: 100%;
    background:teal;
}